# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse / IntelliJ IDEA / NetBeans project files
/.idea/
/*.iml
*.ipr
*.iws
/.classpath
/.project
/.settings/
/nbproject/
/build/

# VS Code project settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
